

.header_fixed{
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  transition: 1s;
}

.btn_up{
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #828282;
  position: fixed;
  z-index: 9998;
  backdrop-filter: blur(10px);
  bottom: 5%;
  border: none;
  left: 92%;
  transform:translateX(+200%);
  transition: 1.3s;
  cursor: pointer;
}

.button_up{
  transform:translateX(0);
  transition: 1.3s;
}

.out{
  transform: translateY(-100%);
  transition: 1s;
}

.header_menu{
  max-width: 1295px;
  width: 100%;
  padding: 10px 0;
  margin: 0 auto; 
}

.header_menu >a{
  display: flex;
  align-items: center;
}

.discover_lists, .hot_auctions_lists {
  display: flex;
  justify-content: space-evenly;
  gap: 80px 29px;
  list-style-type: none;
  margin-top: 40px;
  flex-wrap: wrap;
}

.time_buy_and_bid p span, .time_bid p span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.time_buy_and_bid button, .time_bid button {
  display: flex;
  background: none;
  border: none;
  border-radius: 8px;
}

.time_buy_and_bid button a, .time_bid button a {
  padding: 3px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #E2E2E2;
  text-decoration: none;
  border: 1px solid #E2E2E2;
  border-radius: 8px;
  transition: 0.3s;
}

.time_buy_and_bid p, .name_lots p, .peaple_like p, .peaple_we_are a, .peaple_text p, h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  background-color: #1F1D2B;
  overflow-x: hidden;
}

h1 {
  font-weight: 600;
  font-size: 72px;
  line-height: 82px;
  /* or 114% */
  letter-spacing: -2px;
  color: #FFFFFF;
}

h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height, or 150% */
  letter-spacing: -1px;
  color: #FFFFFF;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  letter-spacing: -1px;
  color: #D7D7D7;
}

h4 {
  font-weight: 600;
  color: #FFFFFF;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #918181;
  margin: 16px 0 25px 0;
}

.container {
  max-width: 1295px;
  margin: 0 auto;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_menu > a {
  display: flex;
  align-items: center;
}
.header_menu nav {
  display: flex;
  justify-content: space-between;
  gap: 264px;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 32px;
}
.menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu a {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  /* identical to box height, or 183% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #BCBCBC;
  text-decoration: none;
  transition: 0.3s;
}
.menu a:hover {
  transition: 0.3s;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  /* Linear Purple Blue Style */
  background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: solid #9B51E0 1px;
}

.profile_menu {
  display: flex;
  justify-content: space-between;
}
.profile_menu button {
  display: flex;
  background: none;
  border-radius: 10px;
  border: none;
}
.profile_menu a {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  /* identical to box height, or 183% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #BCBCBC;
  text-decoration: none;
  padding: 12px 36px;
  transition: 0.3s;
}
.profile_menu a:hover {
  color: #FFF;
  transition: 0.3s;
}

.profile_menu_create a {
  border: 1px solid #D7D7D7;
  border-radius: 10px;
}
.profile_menu_create a:hover {
  border: 1px solid #FFF;
}

.burger {
  transition: 0.3s;
  display: none;
  flex-direction: column;
  gap: 5px;
  width: 25px;
  height: 16px;
  z-index: 9999;
}
.burger div {
  width: 25px;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}

.burger:hover {
  transition: 0.3s;
  cursor: pointer;
}
.burger:hover div:first-child {
  transform: rotate(45deg);
  position: relative;
  top: 4px;
  transition: 0.3s;
}
.burger:hover div:nth-child(2) {
  display: none;
  transition: 0.3s;
}
.burger:hover div:last-child {
  transform: rotate(-45deg);
  position: relative;
  top: -3px;
  transition: 0.3s;
}

.header_content {
  display: flex;
  justify-content: space-between;
  margin-top: 159px;
  transform: translateY(-100%);
  transition: 1s;
  opacity: 0;
}

.header_content_view{
  opacity: 1;
  transition: 1s;
  transform: translateY(0%);
}

.header_text {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  max-width: 637px;
  width: 100%;
}
.header_text p {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* or 150% */
  letter-spacing: 0.5px;
  color: #E2E2E2;
  margin: 24px 0 32px 0;
}

.header_text_button {
  display: flex;
  gap: 40px;
}
.header_text_button button {
  background: none;
  display: flex;
  border-radius: 16px;
  border: none;
}
.header_text_button button:hover {
  background: linear-gradient(103.91deg, #9B51E0 21.01%, rgba(48, 129, 237, 0.8) 100%);
}
.header_text_button a {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  letter-spacing: -1px;
  color: #D7D7D7;
  padding: 12px 67px;
  border: 1px solid #D7D7D7;
  border-radius: 16px;
  text-decoration: none;
}
.header_text_button a:hover {
  border: none;
  padding: 13px 68px;
}

.header_link {
  background: linear-gradient(169.44deg, rgba(58, 129, 191, 0.08) 1.85%, rgba(65, 48, 90, 0.08) 98.72%);
  backdrop-filter: blur(1110px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 35.0246px;
  box-sizing: border-box;
  border: 0.88px solid;
  border-image-source: linear-gradient(168.82deg, #FB37FF 1.7%, rgba(155, 111, 238, 0) 27.12%, rgba(123, 127, 234, 0) 61.28%, #1BB2DE 99.52%);
  position: relative;
}

.circle {
  width: 123px;
  height: 123px;
  border-radius: 100%;
  position: absolute;
}

.circle_pink {
  top: -86px;
  left: -40px;
  background: #FB37FF;
  filter: blur(80px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: -1;
}

.circle_blue {
  bottom: -63px;
  right: -17px;
  background: #18B2DE;
  filter: blur(80px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: -1;
}

.header_link_content {
  padding: 28px 24px;
}
.header_link_content > img {
  border-radius: 20px;
  max-width: 447px;
}

.link_content_peaple {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.peaple_content {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.peaple_content img {
  border-radius: 50px;
  width: 56px;
}

.peaple_text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.peaple_text p {
  color: #D7D7D7;
}

.peaple_we_are {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}
.peaple_we_are a {
  font-weight: 600;
  color: #FFFFFF;
  text-decoration: none;
}

.peaple_like {
  display: flex;
  gap: 9px;
}
.peaple_like a {
  display: flex;
  align-items: center;
}
.peaple_like p {
  color: #D7D7D7;
}

@media screen and (max-width: 1366px) {
  .container {
    max-width: 1130px;
  }
  .header_menu nav {
    gap: 120px;
  }
  .header_content {
    margin-top: 125px;
  }
  .header_link_content {
    padding: 22px 18px;
  }
  .header_link_content > img {
    max-width: 400px;
  }
  h1 {
    font-size: 65px;
    line-height: 72px;
  }
}
@media screen and (max-width: 1230px) {
  .container {
    max-width: 1015px;
  }
  .header_menu nav {
    gap: 85px;
  }
  .menu {
    gap: 25px;
  }
  .header_content {
    margin-top: 95px;
  }
  .header_text {
    max-width: 473px;
  }
  .header_text p {
    font-size: 18px;
    line-height: 28px;
  }
  .header_text_button a {
    font-size: 21px;
    line-height: 32px;
    padding: 10px 50px;
  }
  .header_text_button a:hover {
    padding: 11px 51px;
  }
  .header_link_content {
    padding: 22px 18px;
  }
  .header_link_content > img {
    max-width: 400px;
  }
  h1 {
    font-size: 56px;
    line-height: 62px;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    max-width: 870px;
  }
  .header_menu nav {
    gap: 35px;
  }
  .menu {
    gap: 18px;
  }
  .profile_menu a {
    padding: 7px 24px;
  }
  .header_content {
    margin-top: 70px;
  }
  .header_text {
    max-width: 400px;
  }
  .header_text p {
    font-size: 15px;
    line-height: 24px;
  }
  .header_text_button {
    gap: 25px;
  }
  .header_text_button a {
    font-size: 17px;
    line-height: 25px;
    padding: 8px 38px;
  }
  .header_text_button a:hover {
    padding: 9px 39px;
  }
  .header_link_content {
    padding: 16px 14px;
  }
  .header_link_content > img {
    max-width: 320px;
  }
  h1 {
    font-size: 43px;
    line-height: 50px;
  }
}
@media screen and (max-width: 940px) {
  .container {
    max-width: 685px;
  }
  .header_menu a img {
    width: 85px;
  }
  .header_menu nav {
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    top: 0;
    right: 0;
    flex-direction: column;
    gap: 35px;
    padding: 5% 0;
    transform: translateY(-100%);
    transition: 0.3s;
  }
  .menu {
    flex-direction: column;
    gap: 18px;
  }
  .menu a {
    font-size: 10px;
  }
  .profile_menu a {
    padding: 4px 20px;
    font-size: 10px;
  }
  .burger {
    display: flex;
  }
  .burger:hover ~ .header_menu nav {
    transform: translateY(0);
    transition: 0.3s;
  }
  .header_content {
    margin-top: 50px;
  }
  .header_text {
    max-width: 320px;
  }
  .header_text p {
    font-size: 12px;
    line-height: 20px;
  }
  .header_text_button {
    gap: 25px;
  }
  .header_text_button a {
    font-size: 12px;
    line-height: 18px;
    padding: 6px 27px;
  }
  .header_text_button a:hover {
    padding: 7px 28px;
  }
  .header_link_content {
    padding: 16px 14px;
  }
  .header_link_content > img {
    max-width: 250px;
  }
  .link_content_peaple {
    margin-top: 14px;
  }
  .peaple_content img {
    width: 40px;
  }
  .peaple_text p {
    font-size: 10px;
    line-height: 16px;
  }
  .peaple_we_are a {
    font-size: 10px;
    line-height: 16px;
  }
  .peaple_like img {
    width: 16px;
  }
  .peaple_like p {
    font-size: 10px;
    line-height: 16px;
  }
  h1 {
    font-size: 39px;
    line-height: 40px;
  }
  h4 {
    font-size: 11px;
    line-height: 16px;
  }
}
@media screen and (max-width: 740px) {
  .container {
    max-width: 560px;
  }
  .header_menu a img {
    width: 85px;
  }
  .header_menu nav {
    gap: 35px;
  }
  .menu {
    gap: 8px;
  }
  .menu a {
    font-size: 9px;
  }
  .profile_menu a {
    padding: 1px 14px;
    font-size: 9px;
  }
  .header_content {
    margin-top: 30px;
    justify-content: space-evenly;
  }
  .header_text {
    max-width: 285px;
  }
  .header_text p {
    font-size: 12px;
    line-height: 16px;
    margin: 10px 0 14px 0;
  }
  .header_text_button {
    gap: 15px;
  }
  .header_text_button a {
    font-size: 14px;
    line-height: 16px;
    padding: 7px 24px;
  }
  .header_text_button a:hover {
    padding: 8px 25px;
  }
  .header_link_content {
    padding: 11px 10px;
  }
  .header_link_content > img {
    max-width: 210px;
  }
  .link_content_peaple {
    margin-top: 4px;
  }
  .peaple_content {
    gap: 6px;
  }
  .peaple_content img {
    width: 30px;
  }
  .peaple_text p {
    font-size: 8px;
    line-height: 10px;
  }
  .peaple_we_are a {
    font-size: 10px;
    line-height: 13px;
  }
  .peaple_like {
    gap: 5px;
  }
  .peaple_like img {
    width: 12px;
  }
  .peaple_like p {
    font-size: 10px;
    line-height: 13px;
  }
  h1 {
    font-size: 32px;
    line-height: 34px;
  }
  h4 {
    font-size: 11px;
    line-height: 14px;
  }
}
@media screen and (max-width: 590px) {
  .container {
    max-width: 450px;
  }
  .header_menu {
    padding-top: 8px;
  }
  .header_menu a img {
    width: 72px;
  }
  .header_menu nav {
    gap: 90px;
  }
  .menu {
    gap: 0 13px;
    flex-wrap: wrap;
    max-width: 164px;
    justify-content: flex-start;
  }
  .profile_menu {
    max-width: 75px;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header_content {
    gap: 40px;
    flex-wrap: wrap;
  }
  .header_text {
    max-width: 400px;
  }
  .header_text p {
    font-size: 12px;
    margin: 16px 0 17px 0;
  }
  .header_link_content > img {
    max-width: 300px;
  }
  h4 {
    font-size: 13px;
    line-height: 22px;
  }
  .peaple_content img {
    width: 40px;
  }
  .peaple_text p {
    font-size: 10px;
    line-height: 12px;
  }
  .peaple_we_are a {
    font-size: 13px;
    line-height: 22px;
  }
  .peaple_like p {
    font-size: 11px;
    line-height: 12px;
  }
}
@media screen and (max-width: 490px) {
  .container {
    max-width: 360px;
  }
  .header_menu nav {
    gap: 0;
  }
  .header_menu a img {
    width: 60px;
  }
  .header_content {
    margin-top: 10px;
    gap: 30px;
  }
  .header_text {
    max-width: 350px;
  }
  .header_text p {
    font-size: 10px;
    margin: 9px 0 12px 0;
  }
  .header_text_button a {
    font-size: 11px;
    line-height: 14px;
    padding: 6px 24px;
  }
  .header_text_button a:hover {
    padding: 7px 25px;
  }
  .header_link_content {
    padding: 16px 14px;
  }
  .header_link_content > img {
    max-width: 250px;
  }
  .link_content_peaple {
    margin-top: 14px;
  }
  .peaple_content img {
    width: 40px;
  }
  .peaple_text p {
    font-size: 10px;
    line-height: 16px;
  }
  .peaple_we_are a {
    font-size: 10px;
    line-height: 16px;
  }
  .peaple_like img {
    width: 16px;
  }
  .peaple_like p {
    font-size: 10px;
    line-height: 16px;
  }
  h1 {
    font-size: 28px;
    line-height: 35px;
  }
  h4 {
    font-size: 11px;
    line-height: 16px;
  }
}
.hot_auctions {
  padding-top: 140px;
}

.hot_auctions_title {
  display: flex;
  justify-content: space-between;
}

.button_view {
  display: flex;
  align-items: flex-end;
}
.button_view a {
  display: flex;
  gap: 15px;
  text-decoration: none;
  transition: 0.3s;
  padding: 0 15px;
}
.button_view a:hover {
  transition: 0.3s;
  background-color: rgba(145, 137, 150, 0.4);
}

.hot_auctions_lists li {
  max-width: 300px;
  width: 100%;
}
.hot_auctions_lists li img {
  border-radius: 10px;
}

.name_lots {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.name_lots > p {
  font-weight: 600;
}
.name_lots p {
  color: #FFFFFF;
}

.time_bid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time_bid p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #BCBCBC;
}
.time_bid button a:hover {
  color: #FFF;
}

@media screen and (max-width: 1366px) {
  .hot_auctions_lists li {
    max-width: 250px;
  }
  .hot_auctions_lists img {
    width: 100%;
  }
}
@media screen and (max-width: 1230px) {
  .hot_auctions {
    padding-top: 120px;
  }
  h2 {
    font-size: 44px;
    line-height: 55px;
  }
}
@media screen and (max-width: 1100px) {
  .button_view a img {
    width: 16px;
  }
  h2 {
    font-size: 36px;
    line-height: 40px;
  }
  h3 {
    font-size: 22px;
    line-height: 28px;
  }
}
@media screen and (max-width: 940px) {
  .hot_auctions {
    padding-top: 60px;
  }
  h2 {
    font-size: 32px;
    line-height: 34px;
  }
}
@media screen and (max-width: 740px) {
  .button_view a img {
    width: 14px;
  }
  .hot_auctions_lists {
    gap: 55px 10px;
  }
  .hot_auctions_lists li {
    max-width: 230px;
  }
  h2 {
    font-size: 28px;
    line-height: 30px;
  }
  h3 {
    font-size: 18px;
    line-height: 20px;
  }
}
@media screen and (max-width: 590px) {
  .hot_auctions_lists {
    gap: 40px 10px;
  }
  .hot_auctions_lists li {
    max-width: 190px;
  }
  h2 {
    font-size: 26px;
  }
}
@media screen and (max-width: 490px) {
  .hot_auctions_lists li {
    max-width: 165px;
  }
  h2 {
    font-size: 22px;
    line-height: 22px;
  }
}
.getting_started {
  padding-top: 164px;
  background-image: url("../Img/font_getting_started.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.getting_started_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.getting_started_content > p {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  letter-spacing: 0.5px;
  color: #E2E2E2;
  margin: 24px 0 80px 0;
}

.getting_started_lists {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px 0;
  list-style-type: none;
  width: 100%;
}
.getting_started_lists li {
  max-width: 179px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.getting_started_lists li div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 138px;
  background: rgba(255, 255, 255, 0.095);
  box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17), inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(74.4293px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 26px;
}
.getting_started_lists li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1100px) {
  .getting_started_content > p {
    font-size: 20px;
    line-height: 24px;
    margin: 20px 0 50px 0;
  }
  .getting_started_lists li p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (max-width: 940px) {
  .getting_started {
    padding-top: 110px;
  }
  .getting_started_content > p {
    font-size: 18px;
    line-height: 22px;
    margin: 16px 0 40px 0;
  }
  .getting_started_lists {
    max-width: 425px;
  }
  .getting_started_lists li {
    gap: 12px;
  }
  .getting_started_lists li p {
    font-size: 12px;
    line-height: 16px;
  }
}
@media screen and (max-width: 740px) {
  .getting_started {
    padding-top: 90px;
  }
  .getting_started_content > p {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (max-width: 590px) {
  .getting_started {
    padding-top: 70px;
  }
  .getting_started_content > p {
    font-size: 12px;
    line-height: 14px;
  }
  .getting_started_lists li p {
    font-size: 10px;
    line-height: 14px;
  }
}
@media screen and (max-width: 490px) {
  .getting_started {
    padding-top: 55px;
  }
  .getting_started_content > p {
    text-align: center;
  }
  .getting_started_lists li div {
    width: 130px;
    height: 118px;
  }
}
.discover {
  padding-top: 160px;
}
.discover h3 {
  color: #fff;
}

.discover_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discover_filter_menu {
  display: flex;
  gap: 41px;
}
.discover_filter_menu a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}
.discover_filter_menu button {
  display: flex;
  background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
  border-radius: 10px;
  border: none;
}
.discover_filter_menu button a {
  padding: 6px 41px;
  border-radius: 10px;
}
.discover_filter_menu button a:hover {
  padding: 5px 40px;
  border: 1px solid #D7D7D7;
}
.discover_filter_menu button:hover {
  background: none;
}

.discover_lists {
  margin-top: 87px;
}
.discover_lists li {
  max-width: 300px;
  width: 100%;
}
.discover_lists li img {
  border-radius: 10px;
}

.name_lots {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.name_lots p {
  color: #FFFFFF;
}

.time_buy_and_bid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time_buy_and_bid p {
  font-weight: 400;
  color: #BCBCBC;
}
.time_buy_and_bid button a:hover {
  color: #FFF;
}

.load_more {
  margin-top: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load_more_button {
  display: flex;
  background: none;
  border-radius: 10px;
  border: none;
}
.load_more_button a {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  /* identical to box height, or 183% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #BCBCBC;
  text-decoration: none;
  padding: 12px 40px;
  border: 1px solid #D7D7D7;
  border-radius: 10px;
  transition: 0.3s;
}
.load_more_button a:hover {
  color: #FFF;
  border: 1px solid #FFF;
  transition: 0.3s;
}

@media screen and (max-width: 1366px) {
  .discover_lists li {
    max-width: 250px;
  }
  .discover_lists img {
    width: 100%;
  }
  .name_lots {
    margin-top: 12px;
  }
}
@media screen and (max-width: 1230px) {
  .discover {
    padding-top: 120px;
  }
}
@media screen and (max-width: 1100px) {
  .discover_filter_menu a img {
    width: 16px;
  }
}
@media screen and (max-width: 940px) {
  .discover {
    padding-top: 60px;
  }
  .discover_filter_menu {
    gap: 14px;
  }
  .discover_filter_menu button a {
    padding: 3px 23px;
  }
  .discover_filter_menu button a:hover {
    padding: 2px 22px;
  }
  .discover_lists {
    margin-top: 70px;
  }
  .load_more {
    margin-top: 45px;
  }
}
@media screen and (max-width: 740px) {
  .discover_filter_menu {
    flex-wrap: wrap;
  }
  .discover_filter_menu a img {
    width: 14px;
  }
  .discover_filter_menu button a {
    padding: 3px 14px;
  }
  .discover_filter_menu button a:hover {
    padding: 2px 13px;
  }
  .discover_lists {
    gap: 55px 10px;
    margin-top: 50px;
  }
  .discover_lists li {
    max-width: 230px;
  }
  .name_lots p {
    font-size: 14px;
    line-height: 16px;
  }
  .time_buy_and_bid p {
    font-size: 14px;
  }
  .time_buy_and_bid p span {
    font-size: 14px;
  }
  .time_buy_and_bid button a {
    padding: 2px 22px;
    font-size: 14px;
  }
  .load_more_button a {
    font-size: 10px;
    line-height: 18px;
    padding: 8px 28px;
  }
}
@media screen and (max-width: 590px) {
  .discover_filter_menu {
    max-width: 218px;
  }
  .discover_lists {
    gap: 40px 10px;
    margin-top: 35px;
  }
  .discover_lists li {
    max-width: 190px;
  }
  .name_lots p {
    font-size: 12px;
    line-height: 14px;
  }
  .time_buy_and_bid p {
    font-size: 12px;
  }
  .time_buy_and_bid p span {
    font-size: 12px;
  }
  .time_buy_and_bid button a {
    padding: 2px 18px;
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 490px) {
  .discover_lists {
    margin-top: 30px;
  }
  .discover_lists li {
    max-width: 165px;
  }
  .load_more {
    margin-top: 35px;
  }
  .load_more_button a {
    padding: 6px 22px;
    font-size: 9px;
    line-height: 14px;
  }
}
footer {
  padding: 160px 0 98px 0;
}
footer h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #FFFFFF;
  max-width: 440px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
}

.footer_content_lists {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 41px;
}
.footer_content_lists h2 {
  font-weight: 400;
}
.footer_content_lists li {
  display: flex;
  flex-direction: column;
}

.links {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  list-style-type: none;
}
.links a {
  padding: 6px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #D7D7D7;
  text-decoration: none;
  transition: 0.3s;
}
.links a:hover {
  background-color: rgba(185, 167, 167, 0.4);
}

.line {
  margin: 40px 0;
}

.copyright {
  display: flex;
  justify-content: space-between;
}
.copyright h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  /* Gray 3 */
  color: #828282;
}

.copyright_contact {
  display: flex;
  gap: 25px;
  align-items: center;
}
.copyright_contact a {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1366px) {
  .line {
    margin: 20px 0;
  }
}
@media screen and (max-width: 1230px) {
  .footer_content {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer h2 {
    max-width: 100%;
    text-align: center;
  }
  .footer_content_lists {
    margin-top: 35px;
    width: 100%;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 1100px) {
  footer {
    padding: 140px 0 50px 0;
  }
  footer h2 {
    font-size: 36px;
    line-height: 45px;
  }
}
@media screen and (max-width: 940px) {
  footer {
    padding: 85px 0 30px 0;
  }
  footer h2 {
    font-size: 32px;
    line-height: 36px;
  }
  .footer_content_lists {
    margin-top: 26px;
  }
  .links {
    margin-top: 16px;
    gap: 2px;
  }
  .copyright_contact {
    gap: 20px;
  }
  .copyright_contact img {
    width: 90%;
  }
  .copyright h3 {
    font-size: 22px;
    line-height: 28px;
  }
}
@media screen and (max-width: 740px) {
  footer h2 {
    font-size: 28px;
    line-height: 32px;
  }
  .links a {
    font-size: 18px;
    line-height: 22px;
  }
  .line {
    margin: 15px 0;
  }
  .copyright h3 {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: 590px) {
  footer {
    padding: 70px 0 15px 0;
  }
  footer h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .footer_content_lists {
    margin-top: 20px;
  }
  .line {
    margin: 11px 0;
  }
  .copyright_contact {
    gap: 2px;
  }
  .copyright_contact img {
    width: 75%;
  }
}
@media screen and (max-width: 490px) {
  footer {
    padding: 40px 0 10px 0;
  }
  footer h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .footer_content_lists {
    gap: 0;
  }
  .links a {
    font-size: 15px;
    line-height: 17px;
  }
  .copyright_contact img {
    width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
